$roboto-font-path: '../../node_modules/roboto-fontface/fonts';

@import 'node_modules/roboto-fontface/css/roboto-fontface.scss';

body {
  color: purple;
  font-family: Roboto;
  font-size: 20px;
}

h1 {
  margin: 1em;
}
